.itemCard {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 25vw;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    position: relative;
    text-align: center;
    max-width: 200px;
    max-height: 200px;
    transition: width 200ms ease;
}

.itemCard > img {
   width: 45%;
}

@media (max-width: 640px) {
    .itemCard {
        width: 150px;
        height: 150px
    }
    .itemCard > img {
        width: 33%
    }
}
