.interactBtns {
    position: fixed;
    display: grid;
    z-index: 100;
    grid-template-areas:
        "KeyQ up run"
        "left down right"
    ;
    bottom: 5vh;
    right: 5vw;
}

.interactBtns button {
    width: clamp(65px, 10vw, 100px);
    opacity: 0.5;
    -ms-touch-action: none;
    touch-action: none;
}

.interactBtns button:hover {
    opacity: 1;
}

.interactBtns button img {
    -webkit-filter: invert(1);
    filter: invert(1)
}

.interactBtns button svg {
    width: 100%;
}

.KeyQ {
    grid-area: KeyQ;
}

.ArrowUp {
    grid-area: up;
}

.ArrowDown {
    grid-area: down;
}

.ArrowLeft {
    grid-area: left;
}

.ArrowRight {
    grid-area: right;
}

.run {
    grid-area: run;
}



.container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 1vw;
    bottom: 30vh;
    background-color: transparent;
    flex-direction: column-reverse;
}

.container button {
    background: transparent;
    transition: all 200ms ease;
    max-width: 80px;
}

.container img {
    /* filter: invert(1); */
    width: 100%;
}

.container button:hover,
.container button:focus {
    outline: none;
    border: 0;
}