.mapLayout {
  display: grid;
  place-items: center;
  grid-template-areas:
    "stallOne . stallThree"
    "stallOne greenery stallThree"
    "stallOne stallTwo stallTwo"
  ;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.stallOne,
.stallTwo,
.stallThree,
.greenery {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.stallOne {
  grid-area: stallOne;
}

.stallTwo {
  grid-area: stallTwo;
}

.stallThree {
  grid-area: stallThree;
}

.greenery {
  grid-area: greenery;
}

@media screen and (max-width: 720px) {
  .stallOne,
  .stallTwo,
  .stallThree,
  .greenery {
    scale: 0.7;
  }
}

@media screen and (max-width: 500px) {
  .stallOne,
  .stallTwo,
  .stallThree,
  .greenery {
    scale: 0.5;
  }
}